@font-face {
    font-family: 'BebasNeue';
    src: url(../fonts/BebasNeue.woff);
}
body{
    font: 18px/36px 'BebasNeue','arial','san-serif';
    background-color: #ddd;
}

h1{
    text-align: center;
    margin  : 50px 50px;
    font-size: 80px;
    text-shadow: 1px 1px 1px white;
}
.container {
    width: auto;
    max-width: 450px;
    background-color: white;
    margin :auto;
    box-shadow: 0 0 3px 3px rgba(0,0,0,.3);
    border-radius: 5px;
    
}
.gallery li{
    width: 120px;
    height: 120px;
    border: 5px solid #666;
    margin: 10px;
    float: left;
    
    

}
.gallery li,
.gallery li a img,
.gallery li span{
    border-radius: 50%;
    position: relative;
}

.gallery li span {
    display:block;
    width: 120px;
    height: 120px;
    background-color: rgba(200,200,200,.5);
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 120px;
    color: #333;
    text-shadow: 1px 1px 1px #ddd;
    opacity: 0;
    transform: scale(0) rotate(0);
    transition: .3s;
}

.gallery li a:hover span{
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

.clear {
    clear: both;
}


.overlay    {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0);
    z-index: 9999;
    transition: .8s;
    text-align: center;
    padding: 100px 0;
}
.overlay:target {
    width: auto;
    height: auto;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);

}
.overlay img {
    max-height: 100%;
    box-shadow: 2px 2px 10px rgba(0,0,0,.8);
}
.overlay:target img {
    animation: zoomdanfade 1s;
}
.overlay .close{
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -20px;
    color: white;
    text-decoration: none;
    background-color: black;
    border: 1px solid white;
    line-height: 14px;
    padding: 5px;
    opacity: 0;

}
.overlay:target .close {
    animation: sidedownfade .5s .5s forwards;
}


@keyframes zoomdanfade {
    0%  {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes sidedownfade {
    0% {
        opacity: 0;
        margin-top: -20px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
    
}